/*This file will only take care of styling the appearance of the components
 *like colors, borders...
 */

//USES AND IMPORTS
@use '../general/standardized_style_properties' as std_prop;
@use '../sass_modules/buttons' as buttons;
@use '../sass_modules/hover_animations' as hover_animations;
@use '../sass_modules/colors' as colors;


//STYLING
@media only screen and (min-device-width: 0px) and (max-device-width: 429px) {
section{
  &#stack{
    h1{
      font-size: 2.5rem;
    }
    ul{
      li{
        &:nth-child(odd){
        }
        &:nth-child(odd){
        }
        &:nth-child(even){
        }
      }
    }
    .stack_footer{
      text-align: center;
      &>*{
        font-size: 4rem;
      }
    }
  }

  &#appealing{
  }

  &#paragraph{
  }
}

p#a_word{
  font-size: 3rem !important;
}

div#appealing_button{
  button{
    @include buttons.appealing_button_01($btn_size:9);
    @include hover_animations.on_hover_invert_color(
      $background-color: colors.$primary_color,
      $color: colors.$neutral_color01,
    );
    &:hover{
      font-weight: bolder;
    }
    font-size: 2.5rem;
    padding: 1ex 6ex;
  }
}

div#div_appealing_inner{
  h1{display:none}
}
}
