@use '../general/standardized_style_properties' as std_prop;
@use '../sass_modules/buttons' as buttons;
@use '../sass_modules/hover_animations' as hover_animations;
@use '../sass_modules/colors' as colors;

@media only screen and (min-device-width:10px) and (max-device-width: 429px)
{

.section_wrapper
{
  section#appealing
  {
    #div_appealing_inner
    {
      h1
      {
        display: none;
      }
      .div_slider_wrapper
      {
        .slider
        {
          img
          {
          }
          .div_slider_btn
          {
          }
        }
      }
    }
  }

  section#paragraph
  {
    width: 80%;
    p#a_word{
      font-size: 1.3rem;
      // padding-left: 1%;
      // border-left: 3px colors.$primary_color solid;
    }
  }

  div#appealing_button
  {
      margin: 50px 0;
  }

  section#clients
  {
  }

  section#stack
  {
    ul
    {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
}
