.display_none{
  color: grey !important;
  &:hover{
    cursor: default !important;
  }
}

.slide{
  border: 1px solid black;
}


section#stack{
  section#stack{
    ul{
      display: none !important;
    }
  }
}
