@use '../../partials_library/standardized_properties';
@use '../../general_styles/colors';

section{
  @include standardized_properties.padding;

  &#stack{
      padding: 3%;
    h1{
      text-align: center;
      display: block;
      margin: auto;
    }

    ul{
        display: flex;
        align-items: center;
      li{
        display: inline-block;
        padding: 2%;
      }
    }
  }
}
