.slider_wrapper {

  height: 90%;

  .slider{
    text-align: center;
    height: 100%;

    .slide{

      /* For easy positioning, elements will be absolutely positioned and given a responsive width of 100% */
      position: absolute;
      top:0;
      height: 10%;

      margin: auto;
      border: 1px solid black;

      &.initial,
      &.slide.active{
        position: relative;
      }
    }
    .slider_btn{
      position: absolute;
      top: 50%;
      z-index: 1000;
      $distance: 3rem;
      &.btn_next{
        right: $distance;
      }
      &.btn_prev{
        left: $distance;
      }
    }
  }
}
