@use 'index_layout_level_01';
@use 'index_layout_level_02';
@use '../../partials_library/standardized_properties';
@use '../../general_styles/colors';
@use 'slider_module';

section{
  @include standardized_properties.border-radius;
  @include standardized_properties.box-shadow;
  font-size: 1rem;

  &#stack{
    h1{
      font-weight: 400;
    }
    ul{
      li{
        @include standardized_properties.box-shadow;
        &:nth-child(odd){
          border-bottom: 2px colors.$primary_color solid;
          border-right: 2px colors.$primary_color solid;
        }
        &:nth-child(even){
          border-bottom: 2px colors.$primary_color_shade_01 solid;
          border-right: 2px colors.$primary_color_shade_01 solid;
        }
      }
    }
  }
}

p#a_word{
  font-size: 2rem;
  padding-left: 1%;
  border-left: 3px colors.$primary_color solid;
}

div#appealing_button button{
  font-weight: bolder;
}

section#appealing{
  padding: 1rem;
}
//slider
