//COLORS

//pallete
$primary_color: #c41d0e;
$primary_shade1_color: #d3564b;
$primary_shade2_color: #e28e87;
$neutral_color01: #000000;
$neutral_color02: #808080;
$neutral_color03: #404040;

$disabled_color:#9E9E9E;
