@use '../general/standardized_style_properties' as std_prop;

@media only screen and (min-width:730px) and (max-width: 1200px) {

.section_wrapper{

  section#appealing
  {
    #div_appealing_inner
    {
      width: 100%;

      // Flex Module
      display: flex;
      flex-direction: column;

      h1
      {
        width: 100%;
      }
      .div_slider_wrapper
      {
        .slider
        {
          img
          {
            width: 100%;
            height:auto;
          }
          .div_slider_btn
          {
            width: 5%;
          }
        }
      }
    }
  }

  section#paragraph{
  }
  section#clients{
  }

  div#appealing_button{
    display: flex;
    justify-content: center;

  }

  section#stack{
    section#stack{
      ul{
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

}
}
